body {
    /* background-color:lightgoldenrodyellow;  */
    text-decoration: none;
  }
  
  
  #reg-text-login{
    
    margin-bottom: 10%;
  
  } 
  
  
  #formcard{
    margin: auto;
    margin-top: 3%;
    height: 550px;
    width: 550px;
    justify-content: 30px;
    
    
  }
  .form-group {
    justify-content: 50%;
    align-content: flex-end;
  }
  
  
  #logincard{
    margin: auto ;
    margin-top: 5%;
    height: 300px;
    width:300px;
    /* margin-top: 25%;
    mar */
    
  }
  .header {
    height: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 70px;
  }
  .checkBoxInputs{
    margin-top: -10%;
    margin-bottom: 20%;
    margin-left: 100%;
    height: 10%;
  }
  
  .paper{
    margin: 10px;
    
  }
  .address {
   margin-top: -10px;
   box-sizing:100%;
  
  }
  
  #card-heading     {
   text-align: center;
  }
  
  #login-text{
    text-align: center;
    /* padding: 0px 35px 0px 35px; */
  
  }
  
  #left-text{
    float: left;
    text-decoration: none;
  }
  
  #right-text{
    float: right;
    text-decoration: none;
  }
  .form{
    text-align: center;
    padding: 0px 2% 0% 2%;
    justify-content: center;
    justify-content: space-between;
    display: block;
    width: '100%';
    margin-top: auto;
    column-gap: 100px;
    
  }
  .submit {
    margin: 6px;
    color: skyblue;
    background-color: skyblue;
  }
  .avatar {
    margin: 15px;
    background-color: #f1f1f1;
  }
  .button {
  margin-top: auto;
  max-height: 15px;
  margin: auto;
  }
  .extra{
    margin-top: -1pc;
  }
  .paper {
    display: 'flex';
    flex-direction: 'column';
    align-items: 'center';
    justify-content: center;
    align-content: center;
  }
  
  .first-Name{
    height: 5vh;
    width: auto;
  }
  
  .first {
    width: 100%;
      padding-top: 16px;
      padding-bottom: 9px;
      background-image: linear-gradient();
  }
  .lastname{
    width: 100%;
    padding-top: 16px;
    padding-bottom: 9px;
  }
  
  
  
  .error{
    color: #F44336;
    float: right;
  }
  
  /*
  email Verificatio  page css
  */
  
  
  
  
  .forgot-password {
  
    text-align: left;
    margin-top: 20px ;
    
       
  }
  
  .createAccount  {
    
    background-color: #fff;
    margin-top: 70%;
  
  }
    
  .wrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(250, 219, 222, 1);
  }
  
  @media screen and (max-width: 600px) {
    #formcard{
      margin: auto;
      margin-top: 2%;
      height: 550px;
      width: 300px;
      justify-content: 30px;
      align-items: center;
    }
    
    
    .header-content{
      margin-top: -10%;
    }
    .name{
      margin-right: 5%;
      margin-top: -10%;
      margin-left: 6%;
      width: auto;
      
    }
    .last-name{
      margin-left: -5%;
      margin-top: -3%;
      margin-right: 15%;
      width: auto;
     
    }
    .email-address{
      margin-top: -3%;
      margin-right:5% ;
      width: auto;
      margin-left: 4%;
    }
    .passwrord-Id{
      margin-top: -3%;
      margin-right:5% ;
      width: auto;
      margin-left: 4%;
    }
    .repeat-password{
      margin-top: -3%;
      margin-right:8% ;
      width: 10%;
      margin-left: 20%;
    }
    .Button{
      margin-top: -8%;
      width: 90%;
      margin-left:4% ;
    }
    
  }
  

  
  
  
  
  
