body {
    /* background-color:lightgoldenrodyellow;  */
    text-decoration: none;
  }
.form-card{
    margin: auto;
    margin-top: 10%;
    height: 300px;
    width: 300px;
    justify-content: 30px;
    align-content: center;
    
}
.createAccount{
    justify-content: flex-end;
    margin-top: 10%;
}
.wrapper-forget{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(250, 219, 222, 1);
}
.app_name{
margin-block-start: 6%;
align-items: center;
justify-content: center;
align-content: center;
text-align: center;
block-size: 7%;
margin-top: 7%;
height: 50%; 
margin: 5%;
}
.forgotPassword {
    align-content: center;
    text-align: center;
}

.firstName{
    align-items: center;
justify-content: center;
align-content: center;
margin-top: 10%;
margin-left: 2%;
}